<head>
  <title>get-up</title>
</head>

<body>
  <div class="container">
    {{#if currentUser}}
    {{> display }}
    {{else}}
    {{> login }}
    {{/if}}
  </div>
</body>

<template name="login">
  login: {{loginButtons}}
</template>

<template name="display">
  <h3>Hello {{ currentUser.profile.displayName }}!</h3>
  {{#each minutes}}
  <h2>
    <p class="text-{{class}}">{{label}}: {{count}}</p>
  </h2>
  {{/each}}
  <h5>
    <p>last updated: {{ lastSync }}</p>
    <p>next sync: {{ nextSync }}</p>
    <p><a href="">reload</a></p>
  </h5>
</template>
